certifi==2018.4.16
chardet==3.0.4
click==6.7
docopt==0.6.2
Flask==0.12.3
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.1
MarkupSafe==1.0
python-dateutil==2.7.2
PyYAML==3.12
requests>=2.20.0
six==1.11.0
tabulate==0.8.2
urllib3>=1.23
virlutils==0.6.4
Werkzeug==0.14.1
