certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
docopt==0.6.2
Flask==1.1.2
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
tabulate==0.8.7
urllib3==1.25.9
virl2-client>=2.1.0
Werkzeug==1.0.1
