Flask
Jinja2
MarkupSafe
PyYAML
Werkzeug
attrs
certifi
chardet
click
coverage
coveralls
docopt
enum34
flake8
funcsigs
gunicorn
httpx
idna
importlib-metadata
itsdangerous
libtmux
lxml
mccabe
mock
more-itertools
nose
numpy
packaging
pbr
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
python-dateutil
requests-mock
requests
requests_toolbelt
respx
six
setuptools
tabulate
urllib3
virl2-client>=2.2.1,!=2.4.0
wcwidth
wheel
zipp
